Repository Canvasbird/canvasboard, pull requests merged in 2021-01, with the labels that each got.

#324 Adding link and image of DWOC in README.md file
  README.md
  src/assets/Open Source Program/dwoc.png
Labels: DWOC, Level-1

#329 New card save feature
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/components/dashboard/dashboard.component.html
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/files/files.component.html
  src/app/components/files/files.component.ts
  src/app/components/home/home.component.ts
  src/app/components/new-board/new-board-card.ts
  src/app/components/new-board/new-board.component.html
  src/app/components/new-board/new-board.component.ts
  src/app/services/auth.service.ts
  src/app/services/rest.service.ts
  src/interfaces/new-board.ts
  src/styles.scss
Labels: important

#352 Added Fabric Save Feature
  src/app/components/new-board/new-board.component.ts
  src/app/plugins/cb-whiteboard.ts
Labels: Level-5, board🖊, creative-board, frontend, important

#355 Refactored Code
  src/app/components/files/files.component.ts
  src/app/components/new-board/new-board-card.ts
  src/app/components/new-board/new-board.component.html
  src/app/components/new-board/new-board.component.ts
  src/app/plugins/bottom.ts
  src/app/plugins/cb-h1.ts
  src/app/plugins/cb-h2.ts
  src/app/plugins/cb-h3.ts
  src/app/plugins/cb-p.ts
  src/app/plugins/cb-whiteboard.ts
  src/app/plugins/center-align.ts
  src/app/plugins/clear-font.ts
  src/app/plugins/color-background/cb-bluebackground.ts
  src/app/plugins/color-background/cb-clearbackground.ts
  src/app/plugins/color-background/cb-greenbackground.ts
  src/app/plugins/color-background/cb-redbackground.ts
  src/app/plugins/color-background/cb-yellowbackground.ts
  src/app/plugins/delete.ts
  src/app/plugins/embed.ts
  src/app/plugins/kalam.ts
  src/app/plugins/left-align.ts
  src/app/plugins/monospace.ts
  src/app/plugins/ordered-list.ts
  src/app/plugins/pdf-render.ts
  src/app/plugins/playfair.ts
  src/app/plugins/right-align.ts
  src/app/plugins/top.ts
  src/app/plugins/twitter.ts
  src/app/plugins/unordered-list.ts
  src/interfaces/add-block-parameters.ts
  src/interfaces/base-plugin-component.ts
  src/interfaces/new-board-card.ts
  src/interfaces/plugin-component.ts
  src/interfaces/plugin-type.ts
Labels: board🖊, creative-board, important

#357 Added Delete Repeat Functionality
  src/app/components/new-board/new-board.component.html
  src/app/components/new-board/new-board.component.ts
  src/app/plugins/delete.ts
Labels: creative-board, enhancement🌟
